#debugLayer{
	background-color: gray;
	height:700px;
	margin-top: 70px;
	padding-top: 70px;
}
#mainContent {
	vertical-align: middle; 
	horizontal-align: center; 
	margin:50px;
}
#loginPanel{
	padding-top: 70px;
	margin-top:  80px;
}
#footerStyle{
    background-color: lightgray;
    color: white;
    height: 49px;
}
#footerFont{
    color: white;
    height: 80px;
    margin-left: 480px;
    font-weight: bold;
}

#registrationPanel{
	padding-top: 70px;
	margin-top:  80px;
	
}